<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbt.main.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>

    <application
        android:name="com.bbt.main.base.BBTApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_h"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionOrderActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".OrderdetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bbt.main.ui.fragment.OrderFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".OrderActivity"
            android:label="@string/title_activity_order" >
        </activity>

        <!-- //侧滑 -->

        <activity
            android:name="com.bbt.main.ui.side.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bbt.main.ui.side.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bbt.main.ui.side.Order_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.bbt.main.ui.side.Credibility_Activity" >
        </activity>
        <activity
            android:name="com.bbt.main.ui.side.Purse_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.bbt.main.ui.side.About_Activity" >
        </activity>
        <activity android:name="com.bbt.main.ui.side.Personal_Activity" >
        </activity>
        <activity
            android:name="com.bbt.main.ui.side.History_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bbt.main.ui.side.SettingActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>